
//====== SYS  ====== 
IO_LOC  "sys_clk"   V22;
IO_PORT "sys_clk"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "sys_rst_n" AA13;
//IO_PORT "sys_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

/*/====== OV5640 ====== 
IO_LOC  "cmos_pwdn" AB22;
IO_PORT "cmos_pwdn" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "cmos_rst_n" Y22;
IO_PORT "cmos_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "cmos_xclk" AA21;
IO_PORT "cmos_xclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;

IO_LOC  "cmos_sda" Y13;
//IO_PORT "cmos_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "cmos_sda" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "cmos_scl" AA14;
IO_PORT "cmos_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "cmos_db[7]" AA20;
IO_PORT "cmos_db[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "cmos_db[6]" AA19;
IO_PORT "cmos_db[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "cmos_db[5]" T20;
IO_PORT "cmos_db[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "cmos_db[4]" N15;
IO_PORT "cmos_db[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "cmos_db[3]" R14;
IO_PORT "cmos_db[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "cmos_db[2]" R16;
IO_PORT "cmos_db[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "cmos_db[1]" P15;
IO_PORT "cmos_db[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "cmos_db[0]" P14;
IO_PORT "cmos_db[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "cmos_pclk" AB20;
IO_PORT "cmos_pclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "cmos_href" AB21;
IO_PORT "cmos_href" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "cmos_vsync" Y21;
IO_PORT "cmos_vsync" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
*/

//====== HDMI ====== 
IO_LOC  "tmds_d_p_0[0]" J14,H14;
IO_PORT "tmds_d_p_0[0]" PULL_MODE=NONE;
IO_LOC  "tmds_d_p_0[1]" J15,H15;
IO_PORT "tmds_d_p_0[1]" PULL_MODE=NONE;
IO_LOC  "tmds_d_p_0[2]" K17,J17;
IO_PORT "tmds_d_p_0[2]" PULL_MODE=NONE;
IO_LOC  "tmds_clk_p_0"  G15,G16;
IO_PORT "tmds_clk_p_0"  PULL_MODE=NONE;

/*/====== ETHERNET ====== 
IO_LOC  "RGMII_GTXCLK" 	F20;
IO_LOC  "PHY_CLK" 		V19;
IO_LOC  "RGMII_TXD[0]" 	D21;
IO_LOC  "RGMII_TXD[1]" 	E21;
IO_LOC  "RGMII_TXD[2]" 	D22;
IO_LOC  "RGMII_TXD[3]" 	E22;
IO_LOC  "RGMII_TXEN"  	F21;
IO_LOC  "RGMII_RST_N"  	W20;
IO_PORT "RGMII_GTXCLK"  IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "PHY_CLK"       IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "RGMII_TXD[0]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "RGMII_TXD[1]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "RGMII_TXD[2]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "RGMII_TXD[3]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "RGMII_TXEN"    IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "RGMII_RST_N"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
*/

/*/====== SDCARD ====== 
IO_LOC "sd_miso" 	AA15;
IO_LOC "sd_clk" 	V15;
IO_LOC "sd_cs" 	    W15;
IO_LOC "sd_mosi" 	Y16;
IO_PORT "sd_miso"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "sd_clk"    IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "sd_cs"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "sd_mosi"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
*/

/*/====== AUDIO ====== 
IO_LOC  "HP_BCK" 	Y17;
IO_LOC  "HP_WS" 	AB17;
IO_LOC  "HP_DIN" 	AA16;
IO_LOC  "PA_EN" 	AB16;
IO_PORT "HP_BCK"    IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "HP_WS"     IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "HP_DIN"    IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "PA_EN"     IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
*/

/*/====== Keys ====== 
IO_LOC  "Key_in[1]" Y12;
//IO_PORT "Key_in[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "Key_in[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_LOC  "Key_in[0]" AB13;
//IO_PORT "Key_in[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "Key_in[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
*/

/*/====== WS2812 ====== 
IO_LOC  "WS2812" J16;
IO_PORT "WS2812" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
*/

/*/====== Mic Array ====== 
IO_LOC  "sk9822_ck" W12;
//IO_PORT "sk9822_ck" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "sk9822_ck" IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "sk9822_da" AA9;
//IO_PORT "sk9822_da" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "sk9822_da" IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "mic_array_bck" Y11;
//IO_PORT "mic_array_bck" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "mic_array_bck" IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "mic_array_ws" W10;
//IO_PORT "mic_array_ws" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "mic_array_ws" IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "mic_array_d[3]" AB11;
//IO_PORT "mic_array_d[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "mic_array_d[3]" IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "mic_array_d[2]" AA11;
//IO_PORT "mic_array_d[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "mic_array_d[2]" IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "mic_array_d[1]" AB10;
//IO_PORT "mic_array_d[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "mic_array_d[1]" IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "mic_array_d[0]" AA10;
//IO_PORT "mic_array_d[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "mic_array_d[0]" IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
*/

/*/====== LEDS ====== 
IO_LOC  "LEDs[0]"   T18;
IO_LOC  "LEDs[1]"   R18;
IO_LOC  "LEDs[2]"   R17;
IO_LOC  "LEDs[3]"   P16;
IO_LOC  "LEDs[4]"   U21;
IO_LOC  "LEDs[5]"   T21;
IO_LOC  "LEDs[6]"   R19;
IO_LOC  "LEDs[7]"   P19;

IO_PORT "LEDs[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "LEDs[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "LEDs[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "LEDs[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "LEDs[4]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "LEDs[5]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "LEDs[6]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "LEDs[7]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
*/

/*/====== USBA ====== 
IO_LOC  "USB_1_P"   M15;
IO_LOC  "USB_1_N"   M16;
IO_LOC  "USB_2_P"   H13;
IO_LOC  "USB_2_N"   G13;

IO_PORT "USB_1_P"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "USB_1_N"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "USB_2_P"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "USB_2_N"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
*/

/*/====== JoyConA ====== 
IO_LOC  "Joycon_A[0]"   H19;
IO_LOC  "Joycon_A[1]"   H20;
IO_LOC  "Joycon_A[2]"   G20;
IO_LOC  "Joycon_A[3]"   M17;

IO_PORT "Joycon_A[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "Joycon_A[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "Joycon_A[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "Joycon_A[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
*/

/*/====== JoyConB ====== 
IO_LOC  "Joycon_B[0]"   H17;
IO_LOC  "Joycon_B[1]"   H18;
IO_LOC  "Joycon_B[2]"   J19;
IO_LOC  "Joycon_B[3]"   U8;

IO_PORT "Joycon_B[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "Joycon_B[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "Joycon_B[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "Joycon_B[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
*/

/*/====== LCD ====== 
IO_LOC  "LCD_CTP[0]"    W16;
IO_LOC  "LCD_CTP[1]"    U16;
IO_LOC  "LCD_CTP[2]"    T16;
IO_LOC  "LCD_CTP[3]"    T15;
IO_LOC  "LCD_BL"        P20;

IO_PORT "LCD_CTP[0]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "LCD_CTP[1]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "LCD_CTP[2]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "LCD_CTP[3]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "LCD_BL"        IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
*/

/*/====== UART ====== 
IO_LOC  "txp"           U15;
IO_PORT "txp"           IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
//For version 31002
//IO_LOC  "rxp"           Y14;
//IO_PORT "rxp"           IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=1.5;
//For version 31004 or later
//IO_LOC  "rxp"           V14;
//IO_PORT "rxp"           IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
*/

/*/====== CH569 ====== 
IO_LOC  "HSPI_HTCLK" J20;
IO_PORT "HSPI_HTCLK" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HTREQ" J21;
IO_PORT "HSPI_HTREQ" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HTRDY" L19;
IO_PORT "HSPI_HTRDY" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC  "HSPI_HTVLD" G18;
IO_PORT "HSPI_HTVLD" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "HSPI_HD[0]" G17;
IO_PORT "HSPI_HD[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[1]" H22;
IO_PORT "HSPI_HD[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[2]" L14;
IO_PORT "HSPI_HD[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[3]" K22;
IO_PORT "HSPI_HD[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[4]" K21;
IO_PORT "HSPI_HD[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[5]" K18;
IO_PORT "HSPI_HD[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[6]" L21;
IO_PORT "HSPI_HD[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[7]" M21;
IO_PORT "HSPI_HD[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[8]" M22;
IO_PORT "HSPI_HD[8]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[9]" N22;
IO_PORT "HSPI_HD[9]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[10]" L18;
IO_PORT "HSPI_HD[10]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[11]" M18;
IO_PORT "HSPI_HD[11]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[12]" N19;
IO_PORT "HSPI_HD[12]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[13]" N18;
IO_PORT "HSPI_HD[13]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[14]" K16;
IO_PORT "HSPI_HD[14]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "HSPI_HD[15]" L16;
IO_PORT "HSPI_HD[15]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
*/

/*/====== SDRAM ====== 
IO_LOC  "sdram_dqm[1]"  F13;
IO_PORT "sdram_dqm[1]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dqm[0]"  F14;
IO_PORT "sdram_dqm[0]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "sdram_clk"     B17;
IO_PORT "sdram_clk"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_cas"     E17;
IO_PORT "sdram_cas"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_ras"     F16;
IO_PORT "sdram_ras"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_we"      D16;
IO_PORT "sdram_we"      IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_cs"      F19;
IO_PORT "sdram_cs"      IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_ba[1]"   C20;
IO_PORT "sdram_ba[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_ba[0]"   F15;
IO_PORT "sdram_ba[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "sdram_adr[12]" B18;
IO_PORT "sdram_adr[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[11]" D17;
IO_PORT "sdram_adr[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[10]" D20;
IO_PORT "sdram_adr[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[9]"  C17;
IO_PORT "sdram_adr[9]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[8]"  A18;
IO_PORT "sdram_adr[8]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[7]"  A19;
IO_PORT "sdram_adr[7]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[6]"  D14;
IO_PORT "sdram_adr[6]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[5]"  D15;
IO_PORT "sdram_adr[5]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[4]"  E16;
IO_PORT "sdram_adr[4]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[3]"  C18;
IO_PORT "sdram_adr[3]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[2]"  C19;
IO_PORT "sdram_adr[2]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[1]"  E19;
IO_PORT "sdram_adr[1]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_adr[0]"  D19;
IO_PORT "sdram_adr[0]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "sdram_dq[15]"  B16;
IO_PORT "sdram_dq[15]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[14]"  B15;
IO_PORT "sdram_dq[14]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[13]"  A16;
IO_PORT "sdram_dq[13]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[12]"  A15;
IO_PORT "sdram_dq[12]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[11]"  A20;
IO_PORT "sdram_dq[11]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[10]"  B20;
IO_PORT "sdram_dq[10]"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[9]"   A21;
IO_PORT "sdram_dq[9]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[8]"   B21;
IO_PORT "sdram_dq[8]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[7]"   A13;
IO_PORT "sdram_dq[7]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[6]"   A14;
IO_PORT "sdram_dq[6]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[5]"   C13;
IO_PORT "sdram_dq[5]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[4]"   B13;
IO_PORT "sdram_dq[4]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[3]"   C14;
IO_PORT "sdram_dq[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[2]"   C15;
IO_PORT "sdram_dq[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[1]"   E13;
IO_PORT "sdram_dq[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "sdram_dq[0]"   E14;
IO_PORT "sdram_dq[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
*/

/*/====== DDR3 ====== 
IO_LOC  "ddr_bank[2]"   M6;
IO_PORT "ddr_bank[2]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_bank[1]"   P2;
IO_PORT "ddr_bank[1]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_bank[0]"   P5;
IO_PORT "ddr_bank[0]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC  "ddr_addr[15]"  R1;
IO_PORT "ddr_addr[15]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[14]"  D1;
IO_PORT "ddr_addr[14]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[13]"  K1;
IO_PORT "ddr_addr[13]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[12]"  K4;
IO_PORT "ddr_addr[12]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[11]"  H3;
IO_PORT "ddr_addr[11]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[10]"  L1;
IO_PORT "ddr_addr[10]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[9]"   H5;
IO_PORT "ddr_addr[9]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[8]"   J5;
IO_PORT "ddr_addr[8]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[7]"   J1;
IO_PORT "ddr_addr[7]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[6]"   G3;
IO_PORT "ddr_addr[6]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[5]"   H2;
IO_PORT "ddr_addr[5]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[4]"   J2;
IO_PORT "ddr_addr[4]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[3]"   J4;
IO_PORT "ddr_addr[3]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[2]"   G2;
IO_PORT "ddr_addr[2]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[1]"   K2;
IO_PORT "ddr_addr[1]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[0]"   M1;
IO_PORT "ddr_addr[0]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC  "ddr_odt"       M2;
IO_PORT "ddr_odt"       IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_cke"       K6;
IO_PORT "ddr_cke"       IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_we"        M5;
IO_PORT "ddr_we"        IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_cas"       L4;
IO_PORT "ddr_cas"       IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_ras"       L5;
IO_PORT "ddr_ras"       IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_cs"        P4;
IO_PORT "ddr_cs"        IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_reset_n"   L6;
IO_PORT "ddr_reset_n"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_ck"        L3,K3;
IO_PORT "ddr_ck"        IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dm[3]"     W1;
//IO_PORT "ddr_dm[3]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dm[2]"     T6;
//IO_PORT "ddr_dm[2]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm[1]"     V7;
IO_PORT "ddr_dm[1]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm[0]"     AA4;
IO_PORT "ddr_dm[0]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

//IO_LOC  "ddr_dq[31]"    Y2;
//IO_PORT "ddr_dq[31]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[30]"    U1;
//IO_PORT "ddr_dq[30]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[29]"    V2;
//IO_PORT "ddr_dq[29]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[28]"    U2;
//IO_PORT "ddr_dq[28]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[27]"    U3;
//IO_PORT "ddr_dq[27]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[26]"    T1;
//IO_PORT "ddr_dq[26]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[25]"    Y1;
//IO_PORT "ddr_dq[25]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[24]"    W2;
//IO_PORT "ddr_dq[24]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[23]"    T5;
//IO_PORT "ddr_dq[23]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[22]"    V5;
//IO_PORT "ddr_dq[22]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[21]"    T4;
//IO_PORT "ddr_dq[21]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[20]"    Y6;
//IO_PORT "ddr_dq[20]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[19]"    R4;
//IO_PORT "ddr_dq[19]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[18]"    U6;
//IO_PORT "ddr_dq[18]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[17]"    R6;
//IO_PORT "ddr_dq[17]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dq[16]"    U5;
//IO_PORT "ddr_dq[16]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[15]"    Y9;
IO_PORT "ddr_dq[15]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[14]"    AB6;
IO_PORT "ddr_dq[14]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[13]"    W9;
IO_PORT "ddr_dq[13]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[12]"    AB8;
IO_PORT "ddr_dq[12]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[11]"    Y7;
IO_PORT "ddr_dq[11]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[10]"    AB7;
IO_PORT "ddr_dq[10]"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[9]"     Y8;
IO_PORT "ddr_dq[9]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[8]"     AA8;
IO_PORT "ddr_dq[8]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[7]"     AB1;
IO_PORT "ddr_dq[7]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[6]"     AB5;
IO_PORT "ddr_dq[6]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[5]"     AB2;
IO_PORT "ddr_dq[5]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[4]"     AA1;
IO_PORT "ddr_dq[4]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[3]"     V4;
IO_PORT "ddr_dq[3]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[2]"     AA5;
IO_PORT "ddr_dq[2]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[1]"     AB3;
IO_PORT "ddr_dq[1]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[0]"     Y4;
IO_PORT "ddr_dq[0]"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

//IO_LOC  "ddr_dqs[3]"    R3,R2;
//IO_PORT "ddr_dqs[3]"    IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
//IO_LOC  "ddr_dqs[2]"    W6,W5;
//IO_PORT "ddr_dqs[2]"    IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dqs[1]"    V9,V8;
IO_PORT "ddr_dqs[1]"    IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dqs[0]"    Y3,AA3;
IO_PORT "ddr_dqs[0]"    IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

INS_LOC "camera_hdmi_inst/u_ddr3/gw3_top/u_ddr_phy_top/u_dll" DDRDLLM_BL;
INS_LOC "camera_hdmi_inst/u_ddr3/gw3_top/u_ddr_phy_top/fclkdiv" BOTTOMSIDE[3];
INS_LOC "camera_hdmi_inst/Gowin_PLL_m0/PLLA_inst" PLL_B[1];
INS_LOC "camera_hdmi_inst/u_tmds_pll/PLLA_inst" PLL_R[0];
INS_LOC "eth_inst/GMII_pll_m0/PLLA_inst" PLL_R[1];
INS_LOC "sdram_inst/SDRAM_PLL/PLLA_inst" PLL_T[0];

CLOCK_LOC "divclk" LOCAL_CLOCK;
CLOCK_LOC "sdram_inst/clk_133M" BUFG = CLK;
CLOCK_LOC "cmos_vsync_d" LOCAL_CLOCK;
//SET_PARAM "camera_hdmi_inst/u_ddr3/gw3_top/u_ddr_phy_top/u_dll" CLKIN_SEL=CLKIN5;
*/
